a {
    cursor: pointer;
}

button {
    margin: 20px 0;
}

.language-change {
    a:first-child {
        margin-right: 10px;
    }
}

.comment-add-form {
    margin-top: 50px;

    p {
        font-size: 20px;
        font-weight: bold;
    }
}

.comment-container {
    margin-top: 50px;
}

.comment-list {
    list-style: none;
}

.comment-pagination {
    list-style-type: none;

    li {
        display: inline-block;
        margin-right: 5px;
    }
}
